In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_excel('data/dataPertamax2024.xlsx')
df

,Timestamp (ICT),Timestamp (ICT).1,Timestamp (ICT).2,Received From (Network Name),Message,Sentiment,Sentiment.1
0,2024-05-01 14:31:37,2024-05-01 14:31:37,2024-05-01 14:31:37,icaly81,ðŸ”¥ðŸ”¥,positive,NaN
1,2024-05-01 15:06:45,2024-05-01 15:06:45,2024-05-01 15:06:45,rajendrasaputroo,Siap siap buat isi full tank bro @adiwibowooo11,positive,NaN
2,2024-05-01 15:09:46,2024-05-01 15:09:46,2024-05-01 15:09:46,arayyanrizki,Promo tebar undian apa masih bisa ikutan?,unclassified,NaN
3,2024-05-01 15:14:05,2024-05-01 15:14:05,2024-05-01 15:14:05,sputrii86,Okaaay siaaapp noted ðŸ« ðŸ«¶,unclassified,NaN
4,2024-05-01 16:07:48,2024-05-01 16:07:48,2024-05-01 16:07:48,lily_cantik21,Buat pengguna baru aja gak sih??,unclassified,NaN
...,...,...,...,...,...,...,...
7618,2024-12-31 19:37:12,2024-12-31 19:37:12,2024-12-31 19:37:12,lisazwate,Wowww ada promo spesial akhir tahun.,positive,NaN
7619,2024-12-31 21:13:08,2024-12-31 21:13:08,2024-12-31 21:13:08,hagintasembiring,Kalo gue yang pake bakal keren gak? ðŸ˜Ž,positive,NaN
7620,2024-12-31 21:13:47,2024-12-31 21:13:47,2024-12-31 21:13:47,aland_chann,min abis tukar nanti ambil dimana hadiahnya?,unclassified,NaN
7621,2024-12-31 21:13:55,2024-12-31 21:13:55,2024-12-31 21:13:55,raja.wirata86,"Loh iya toh, besok tahun baruan.",unclassified,NaN
7622,2024-12-31 21:15:15,2024-12-31 21:15:15,2024-12-31 21:15:15,dewwifortuna17,"Udh ga perlu mikir2 lagi deh, mending buruan t...",positive,NaN

In [3]:
df = df[['Message']]

### Menghapus nilai False

In [4]:
# Metode 1: Menggunakan drop
df['Message'] = df['Message'].astype(str).str.lower()  # Mengubah teks menjadi lowercase
df['Message'] = df['Message'].replace('false', pd.NA)  # Mengganti 'false' dengan pd.NA (Not Available)
df = df.dropna(subset=['Message'])

# Metode 2: Menggunakan boolean indexing
df['Message'] = df['Message'].astype(str).str.lower()  # Mengubah teks menjadi lowercase
df = df[df['Message'] != 'false']

C:\Users\MuhammadAulia\AppData\Local\Temp\ipykernel_23140\2119240797.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Message'] = df['Message'].astype(str).str.lower()  # Mengubah teks menjadi lowercase
C:\Users\MuhammadAulia\AppData\Local\Temp\ipykernel_23140\2119240797.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Message'] = df['Message'].replace('false', pd.NA)  # Mengganti 'false' dengan pd.NA (Not Available)

In [5]:
df.shape

(7623, 1)

In [6]:
df = df.drop_duplicates(subset=['Message'])

In [7]:
df.duplicated().sum()

np.int64(0)

In [8]:
df = df.dropna()

In [9]:
df.isnull().sum()

Message    0
dtype: int64

In [10]:
df.shape

(7069, 1)

In [11]:
def clean_twitter_text(text):
  text = re.sub(r'@[A-Za-z0-9_]+', '', text)
  text = re.sub(r'#\w+', '', text)
  text = re.sub(r'RT[\s]+', '', text)
  text = re.sub(r'https?://\S+', '', text)

  text = re.sub(r'[^A-Za-z0-9 ]', '', text)
  text = re.sub(r'\s+', ' ', text).strip()

  return text

df['Message'] = df['Message'].apply(clean_twitter_text)

In [12]:
df

                                                Message
0
1                      siap siap buat isi full tank bro
2              promo tebar undian apa masih bisa ikutan
3                                  okaaay siaaapp noted
4                        buat pengguna baru aja gak sih
...                                                 ...
7618                wowww ada promo spesial akhir tahun
7619                 kalo gue yang pake bakal keren gak
7620        min abis tukar nanti ambil dimana hadiahnya
7621                     loh iya toh besok tahun baruan
7622  udh ga perlu mikir2 lagi deh mending buruan tu...

[7069 rows x 1 columns]

In [13]:
df.to_excel('data/hasilCleaning.xlsx', index=False)